---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
---

<Layout title="Home">
	<main>
		<h1><span class="text-gradient">Astro</span> + Supabase SSR</h1>
		
		<p>
			A demo showing how to use the <a href=""><code>@supabase/ssr</code></a> package with Astro
			to make users and their sessions available on both the server and the client 
			when in <a href=""><code>output:server</code></a> mode. 
	   </p>

		<h2>Load Data</h2>

		<p>
			Load a list from the <code>countries</code> table to test the client is working properly.
		</p>

		<ul role="list" class="link-card-grid">
			<Card
				href="/clients/create-browser"
				title="createBrowserClient"
				body="Client-side client from @supabase/ssr"
			/>
			<Card
				href="/clients/create-server"
				title="createServerClient"
				body="Server-side client from @supabase/ssr"
			/>
		</ul>
		
		<Card
			href="/clients/create-client"
			title="createClient"
			body="Client-side client from @supabase/supabase-js"
		/>

		<p class="instructions">
			 <code>@supabase/ssr</code> provides a client-side client and server-side client.
			 This is confusing as the package is named SSR and it is mainly used for auth,
			 replacing the <code>auth-helpers</code> package. On top of that, if you are not
			 careful, the client-side, <a href="/clients/create-client"><code>createClient</code></a>
			 provided by <code>@supabase/supabase-js</code> can also get mixed in.
			 <br />
		</p>

		<hr />

		<h2>Auth</h2>

		<p>
			Login to access user data. Routes are protected through middleware.
		</p>

		<Card
			href="/login"
			title="Login"
			body="Login with the createServerClient"
		/>

		<h3>Protected Routes</h3>

		<ul role="list" class="link-card-grid">
			<Card
				href="/protected"
				title="Protected"
				body=""
			/>
			<Card
				href="/protected/dashboard"
				title="Dashboard"
				body=""
			/>
			<Card
				href="/protected/account"
				title="Account"
				body=""
			/>
			<Card
				href="/protected/account/settings"
				title="Account Settings"
				body=""
			/>
		</ul>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
